body, html {
    min-height: 100%;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background: #111111;
    min-height: 100vh;
    display: flex;
}
#onboarding {
    display: none;
}
#placeholder ul li {
    text-align-last: left;
}
#app {
    display: none;
}
#mixer {
    display: none;
}

#onboarding.active,
#app.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#app.active > div {
    width: 100%;
}

#app.active {
    flex-direction: row;
}

#app.active div#actions {
    width: 44px;
    height: calc(100vh - 30px);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#actions .buttonContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#playAudio {
    background: #88BEF5;
    color: #000;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    border: none;
}

.barIndicator {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

#currentBar {
    font-size: 22px;
    display: block;
}

#actions button {
    width: 44px;
    height: 44px;
    border: 1px solid #585858;
    border-radius: 10px;
    background-color: #111;
    color: #585858;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

.progress {
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 4px;
    position: relative;
    top: -10px;
    overflow: hidden;
    border-radius: 2px;
    display: none;
}

#fakeProgressBar {
    background: #fff;
    height: 4px;
    display: block;
    width: 0;
    border-radius: 2px;
}

#visor {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#metadata {
    flex: 1;
    display: flex;
    padding: 15px 15px 0 0;
    position: relative;
}
.skipBar {
    top: 0;
    position: absolute;
    bottom: 0;
    border: none;
    width: 25%;
    border-radius: 10px;
    background: none;
}
#nextBar {
    right: 0;
}
#nextBar:active {
    background: linear-gradient(270deg, rgba(0,0,0,.2) 0%, rgba(0, 0, 0, 0.00) 100%);
}
#prevBar {
    left: 0;
}
#prevBar:active {
    background: linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0, 0, 0, 0.00) 100%);
}
#tracktime {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgba(255,255,255,.2);
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 10px;
    padding: 5px 10px;
}
#structure {
    width: 100%;
    background-color: #333E49;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
    transition: background-color ease-in-out .25s;
}

.intro #structure {
    background-color: #333E49;
}
.a #structure {
    background-color: #331E3A;
}
.b #structure {
    background-color: #3E232F;
}
.macro.hint:not(.active),
.macro.hint.active .hint.micro:not(.active) {
    display: none;
}
.macro.hint.active {
    display: block;
}
.macro.hint.active .hint.micro.active {
    display: block !important;
}
.micro.hint {
    text-align: center;
}
.muteBtn, .soloBtn {
    font-weight: 600;
}
.muteBtn.active {
    background-color:#FFF59C !important;
    color: #000;
}
.soloBtn.active {
    background-color: #88BEF5 !important;
    color: #000;
}
#togglePlay {
    margin-bottom: 0 !important;
    margin-top: 10px;
}
#togglePlay:not(.paused) .audioPlay,
#togglePlay.paused .audioPause {
    display: none;
}
#togglePlay .audioPlay {
    margin-left: 2px;
}
#toggleMetronome.active {
    background: #FA5858;
}
#toggleMetronome.active path {
    opacity: 1;
}
fieldset {
    display: flex;
}
button.skipTo {
    flex: attr(data-duration number);
}
#navigation {
    padding: 13px 15px 13px 0;
    position: relative;
}
#navigation fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
#changeInstrument {
    position: relative;
}
#changeInstrument svg {
    position: absolute;
    top: 10px;
    left: 10px;
}
.skipTo {
    border: none;
    border-radius: 8px;
    color: #fff;
    margin: 0px 2px;
    text-transform: uppercase;
    font-size: 11px;
    min-height: 50px;
    font-weight: 600;
    letter-spacing: .8px;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 10px rgba(0,0,0,.3);
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}
.skipTo:first-child {
    margin-left: 0px;
}
.skipTo:last-child {
    margin-right: 0px;
}
.skipTo small {
    display: block;
    padding-top: 2px;
    color: #fff;
    opacity: .5;
    letter-spacing: 1.5px;
    font-weight: normal;
}
.skipTo.active {
    text-indent: 0;
}
.part-intro {
    background: rgba(136, 190, 245, .3);
}
.part-intro:hover,
.part-intro.active {
    background: rgba(136, 190, 245, 1);
}
.part-a {
    background: rgba(186, 83, 222, .3);
}
.part-a:hover,
.part-a.active {
    background: rgba(186, 83, 222, 1);
}
.part-b {
    background: rgba(244, 105, 169, .3);
}
.part-b:hover,
.part-b.active {
    background: rgba(244, 105, 169, 1);
}

input[type="range"] {
    -webkit-appearance: none;
    height: 54px;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 15px;
    bottom: 11px;
    pointer-events: none;
  }
  
  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 54px;
    width: 4px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.4);
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background: #ff0200;
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background: #ff0200;
  }
  
  input[type="range"]::-ms-thumb:hover {
    background: #ff0200;
  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

@media only screen and (max-width: 440px) {
    #app.active {
        flex-direction: column;
    }
    #app.active div#actions {
        width: calc(100% - 20px);
        padding: 10px 10px 0 10px;
        height: auto;
        flex-direction: row;
    }
    #actions button {
        margin: 0 0 0 10px;
    }
    #actions button:first-child {
        margin-left: 0px;
    }
    .timeIndicators {
        display: flex;
    }
    #actions .buttonContainer {
        flex-direction: row;
    }
    #visor {
        flex: 1;
        height: auto;
    }
    #metadata {
        padding: 10px;
    }
    #navigation {
        padding: 0px 10px 45px 10px;
    }
    input[type="range"] {
        bottom: 43px;
        left: 10px;
        right: 10px;
    }
    .skipTo.active {
        text-indent: -9999px;
        overflow: hidden;
    }
}